.header-phone {
  text-align: center;
}

.header-phone__link {
  font-weight: 700;
  font-size: 18px;
  color: $color-primary;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.header-phone__description {
  margin: 5px 0 0 0;
  font-weight: 400;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
    font-size: 12px;
  }
}
