.header-contacts {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-contacts__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    list-style-type: none;
    margin: 0 28px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-contacts__item {
  margin-right: 17px;
}

.header-contacts__item:last-child {
  margin-right: 0;
}

.header-contacts__link {
  display: block;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-contacts__link--viber {
  background-image: url(/img/viber.svg);

}

.header-contacts__link--whatsapp {
  background-image: url(/img/whatsapp.svg);
}

.header-contacts__link--telegram {
  background-image: url(/img/telegram.svg);
}

.header-contacts__phone {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

