.service-list {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid $color-btn;
  }
}

.service-list__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    max-width: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.service-list__link {
  font-size: 16px;
  font-weight: 700;
  color: $color-primary;
  text-decoration: none;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.service-list__link:hover {
  color: $color-accent;
}

